<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
    {%with session = session%}
    <header>
        <div class="headerContainer">
            <nav class="navbar navbar-light light-blue lighten-4">

  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span> Menu </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/people">People</a>
      </li>
    </ul>

  </div>

</nav>
            {%if session%}
            <div class="rightSide__personal">
                <a href="/profile/{{session['user']['id']}}">
                <img alt="Профиль" src="{{ url_for('static', filename='avatars/') }}{{ session['user']['id'] }}.jpg" draggable="false"/>
                </a>
                <div class="rightSide__links">
                    <a href="/logout">Logout</a>
                    <a href="/profile/{{session['user']['id']}}">Profile</a>
                </div>

            </div>
        </div>
        {%endif%}
    </header>
    <div class="profileBar">
        {%with account = account%}
        <div class="profileBar__userAvatar">
            <img alt="avatar" src="{{ url_for('static', filename='avatars/') }}{{ account['id'] }}.jpg" draggable="false"/>
        </div>
        <div class="profileBar__nicknameSection">
            <h1 class="nicknameH">@{{account['username']}}#{{account['id']}}</h1>
            {%if 'admin' in account['roles']%}
            <span class="badge badge-danger" style="width: 58px!important; height: 18px!important; margin-left: -48px">Admin</span>
            {%endif%}
        </div>
        <div class="profileBar__userTotalInfo">
            <section>
                <span>{{account['posts']|length|int}}</span><span class="word">posts</span>
            </section>
            <section>
                <span>{{account['comments']|length|int}}</span><span class="word">comments</span>
            </section>
            <section>
                <span>33</span><span class="word">followers</span>
            </section>
        </div>
        <div class="profileBar__statusBottomPart">
            {%if session['user']['id'] == account['id']%}
            <h1 class="statusSuggestion">Tell people about your mood!</h1>
            <textarea class="statusEdit" name="status" maxlength="120">{{account['status']}}</textarea>
            <input type="button" value="Change status" class="statusSubmit">
            {%else%}
            <p class="status">
                {{account['status']}}
            </p>
            {%endif%}
        </div>
        {%endwith%}
    </div>
    {%endwith%}
    <script src="{{url_for('static', filename='profile.js')}}"> </script>
    </body>
</html>
