<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="login, register">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sign_in_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}">
    <style>
        @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700italic);
    </style>
</head>
<body>
    <div id="alert">

    </div>
    <form method="POST" class="register">
        <input type="text" name="username" class="anything" placeholder="Логин" autocomplete="off">
        <input type="password" name="password" class="anything" placeholder="Пароль" placeholder="Логин" autocomplete="off">
        <div class="bottom__signinAndSignup">
            <input type="submit" class="submit" value="Sign in">
            <a href="{{ url_for('signup') }}" class="signup" style="font-family: 'Lato', sans-serif">Sign up!</a>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages%}
                {% for message in messages %}
                    <script>
                        document.getElementById("alert").innerHTML = "" +
                            "<div class=\"alert alert-danger\">\n" +
                            "  <strong>Error!</strong> {{ message }}\n" +
                            "</div>";
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</body>
</html>